.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #d1d9e0;
}

.fieldWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.field {
  width: 100%;
  padding: 10px 20px;
  background-color: #f6f8fa;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #d1d9e0;
}

.formBtn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.formFooter {
  display: flex;
  align-items: center;
  gap: 10px;
}